*{
    margin: 0px;
    padding: 0px;
    /* border: 2spx solid red; */
}

body{
    background-color:rgb(39, 117, 91);
    padding: 20px;
}

.box{
    display: flex;
    flex-direction: column;
    align-items: center;
    /* justify-content: center; */
    border-radius: 30px;
    background-color:rgb(33, 210, 151) ;
}
.box img{
    margin: 10px;
}
.box button{
    margin: 10px;
    padding: 15px;
    background-color: aliceblue;
    border-radius: 30px 10px;
    background-color: rgb(115, 194, 196);
}

.cards{
    margin-top: 30px;
    display: grid;
    gap: 10px;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    height: 90vh;
}


.links a{
    text-align: center;
    text-decoration: none;
    border-radius: 30px;
    padding: 15px;
    color: white;
    margin: 10px;
}

.insta{
    background-color: purple;
    transition: all 0.5s;
}
.insta:hover{
    background-color: white;
    color: purple;
}

.whatsapp{
    background-color: green;
    transition: all 0.5s;
}
.whatsapp:hover{
    background-color: white;
    color: green;
}
.facebook{
    background-color: rgb(62, 62, 252);
    transition: all 0.5s;
}
.facebook:hover{
    background-color: white;
    color: rgb(62, 62, 252);
}
.twitter{
    background-color: rgb(0, 179, 255);
    transition: all 0.5s;
}
.twitter:hover{
    background-color: white;
    color: rgb(0, 179, 255);
}
.github{
    background-color: black;
    transition: all 0.5s;
}
.github:hover{
    background-color: white;
    color: black;
}



.links{
    background-color:rgb(16, 162, 113);
    position: sticky;
    display: flex;
    flex-direction: column;
    height: 50vh;
    width: 70%;
    justify-content: space-around;
    border-radius: 30px;
}

.hide{
    display: none;
}