*{
    margin: 0px;
    padding: 0px;
    /* border: 2spx solid red; */
}

body{
    background-color:#79E0EE;
    padding: 20px;
}

.box{
    display: flex;
    flex-direction: column;
    align-items: center;
    /* justify-content: center; */
    border-radius: 30px;
    background-color:#98EECC ;
}


.box img{
    margin: 10px;
    border-radius: 300px;
    transform: rotate(-50deg);
    transition: all 0.5s;
}

.box img:hover{
    transform: rotate(0deg);
}



.box button{
    margin: 10px;
    padding: 15px;
    border-radius: 30px 10px;
    background-color: #FBFFDC;
    transition: all 0.5s;
}

.box button:hover{
   border-radius: 10px 30px;
} 

.cards{
    margin-top: 30px;
    display: grid;
    gap: 10px;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    height: 90vh;
}


.links a{
    text-align: center;
    text-decoration: none;
    border-radius: 30px;
    padding: 15px;
    color: white;
    margin: 10px;
}

.insta{
    background: linear-gradient(45deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%); 
    transition: all 0.5s;
}
.insta:hover{
    border-radius: 5px 40px;
    transform: rotate(5deg);
}

.whatsapp{
    background-color: rgb(13, 135, 121);
    transition: all 0.5s;
}
.whatsapp:hover{
    background-color: white;
    color: rgb(13, 135, 121);
}
.facebook{
    background-color: rgb(62, 78, 252);
    transition: all 0.5s;
}
.facebook:hover{
    background-color: white;
    color: rgb(62, 78, 252);
}
.github{
    background-color: black;
    transition: all 0.5s;
}
.github:hover{
    border-radius: 5px 40px;
    transform: rotate(-5deg);
}



.links{
    background-color:#D0F5BE;
    position: sticky;
    display: flex;
    flex-direction: column;
    height: 50vh;
    width: 70%;
    justify-content: space-around;
    border-radius: 30px;
}

.hide{
    display: none;
}